mat-toolbar {
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 18px rgba(74, 124, 246, .12);
}


.margin-left-16 {
  margin: 0 16px !important;
}

.mat-card-avatar {
  margin-right: 16px !important;
}
