.test {
  background: white;
  height: 100px;
  width: 100%;
}

.card-header-image {

  background-size: cover;
}

mat-toolbar {
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 18px rgba(74, 124, 246, .12);
}

.bottom-btn {
  width: 49%;
}

.bottom-btn:nth-child(1) {
  margin-right: 2%;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 18px rgba(74, 124, 246, .12);
}
