<div class="content">
  <img class="header-img" src="assets/images/Contact.svg" alt="">

  <div class="header-overlay"></div>
  <h3>Neem gerust contact met ons op</h3>
  <div class="contact-btns">
    <div class="contact-btn">
      <div class="contact-btn__icon">
        <mat-icon>mail</mat-icon>
      </div>
      <div class="contact-btn__text">Mail ons</div>
    </div>
    <div class="contact-btn">
      <div class="contact-btn__icon">
        <mat-icon>phone</mat-icon>
      </div>
      <div class="contact-btn__text">Bel ons</div>
    </div>
  </div>
</div>
